.main
{
    float:left;
    margin:10px;
    padding:10px;
}


.video_container
{
    position: absolute;
    top:320px;
    left:calc(100% - 270px);
    float:right;
    margin-right:40px;
    padding:10px;
}


.video_container video
{

    height:150px;

}


.volume 
{
    
    width: 70%;
    height: 5px;
}


.peers
{ 
    float: right;  
    padding:10px;
    margin-right:40px;
  
}
